body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: green;
}

.tab {
    background-color: red;
}

.card {
    border: 3px solid black;
}

.form-error {
    border: 1px solid red;
}